{% extends 'base.html.twig' %}

{% block body %}
<h1>Administrons !</h1>
<p><a href="{{ path('app_livre_index') }}">Gérer les livres</a></p>
<p><a href="{{ path('app_categorie_index') }}">Gérer les catégories</a></p>
<p><a href="{{ path('app_avis_index') }}">Gérer les avis</a></p>
{% endblock %}