{% extends 'base.html.twig' %}

{% block body %}
<ul>
    <li><a href="{{ path('app_livre_index') }}">Gérer les livres</a></li>
    <li><a href="{{ path('app_categorie_index') }}">Gérer les catégories</a></li>
    <li><a href="{{ path('app_avis_index') }}">Gérer les avis</a></li>
</ul>
{% endblock %}