<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
    <p><a href="{{ path('app_dashboard') }}">Retour à l'accueil</a></p>
        {% block body %}{% endblock %}
    </body>
</html>
